:root{
    --color-1:#DDE3F0;
    --color-2:#E51C44;
    --color-3:#495BCC;
    --color-4:#1D2766;
    --color-5:#171F52;
    --color-6:#0E1647;
    --color-7:#0A1033;
    --color-8:#ABB1CC;
    --color-9:#243189;
    --color-10:#1B2565;
    --color-11:#FFFF;
    --color-12:#C5C9F7;
    --color-13:#991F36;
    --color-14:#666666;
    --color-15:#DCDCE5;
    --color-16:#0C123B;
}
@font-face {
    font-family: "Rajdhani-Bold";
    src: url(../storage/font/Rajdhani/Rajdhani-Bold.ttf);
}
@font-face {
    font-family: "Rajdhani-Regular";
    src: url(../storage/font/Rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: "Rajdhani-Medium";
    src: url(../storage/font/Rajdhani/Rajdhani-Medium.ttf);
}
@font-face {
    font-family: "Rajdhani-SemiBold";
    src: url(../storage/font/Rajdhani/Rajdhani-SemiBold.ttf);
}
@font-face {
    font-family: "Rajdhani-Light";
    src: url(../storage/font/Rajdhani/Rajdhani-Light.ttf);
}

@font-face {
    font-family: "Inter_18pt-Regular";
    src: url(../storage/font/Inter/static/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "Inter_18pt-Medium";
    src: url(../storage/font/Inter/static/Inter_18pt-Medium.ttf);
}